.banner {
  /* The image used */
  height: 300px;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}

.query-input {
  width: 80%; /* Adjust the width as needed */
  height: 100px;
  font-size: 18px;
}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.table-section {
  flex: 1;
  min-width: 300px; /* Adjust the min-width as needed */
}


input[type=checkbox] {
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;

}

.login-popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.message-popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.popup {
  width: 400px;
  height: 300px;
  background-color: #000000;
  color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 20px;
}

.customLabel {
  font-size: 18px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

input[type=text] {
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  width: 50%;
  flex: 2;
  display: block;

}

p {
  font-size: 20px;

}

input[type=submit] {
  width: 20%;
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

input[type=submit]:hover {
  background-color: #6f746f;
}

label {
  font-size: 18px;
  flex: 1;
  display: block;

}

/* Add a black background color to the top navigation */

.topnav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


table.PTABLE {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table.PTABLE td,
th {
  border: 1px solid #bbb5b5;
  padding: 8px;
  word-wrap: break-word;
}

table.PTABLE tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.PTABLE tr:hover {
  background-color: #f8f6f6;
}

table.PTABLE th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}

.form-container {
  display: flex;
}

.form-column {
  flex: 1;
  padding: 10px;
}

textarea {

  height: 120px;
  border: 1;
  width: 50%;
  border-radius: 5px;
  outline: 0;
  padding: 12px;
  flex: 2;
  font-size: 16px;
  display: block;
}

button {
  font-size: 18px;
  background-color: #000000;
  color: white;
  display: inline-block;
}

.target_button {
  font-size: 18px;
  background-color: #000000;
  color: white;
  display: block;
}

select {
  font-size: 18px;


}


.customButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #5e5ce4;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px 5px;
}

.logonButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #5e5ce4;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px 5px;
}

.logoutButton {
  display: none;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #262327;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px 5px;
}