{{define "readme"}}
  <h1>Readme</h1>

  <p>My GitHub page has ton of good information on how to setup and use.</p>

  <p><a href="https://github.com/c2links/NoWhere2Hide">https://github.com/c2links/NoWhere2Hide</a></p>

  <p>My blog also has many tutorials on general setup and use, how to create signatures, run scans etc...</p>

  <p><a href="https://c2links.com/">https://c2links.com/</a></p>

  <p>And check out my YouTube channel for instructional videos</p>

  <p><a href="https://www.youtube.com/@C2Links">https://www.youtube.com/@C2Links</a></p>

{{end}}